<!-- Step 3 Add Header -->
<%- include("partials/header.ejs") %>

<a href="/blog"><button class="btn btn-primary d-inline-flex align-items-center"><ion-icon name="add-outline"></ion-icon>New Blog</button></a>

<!-- Step 3 Add Footer -->
<%- include("partials/footer.ejs") %>
